body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {text-align: center;}
.center { width:50%;
          margin-right: auto;
          margin-left: auto;
          display: block; }
nav {padding-right: 10px;
    padding-left: 10px;
    background-color: blue;
}
figcaption {text-align: center;
            font-size: 16px;
}

figcaption 